@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    font-family: "Outfit";
    margin: 0;
    color: black;
    overflow-x: hidden;
    background-color: black;
    font-size: 1rem;
  }
  
  .container {
    width: 1100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;

  }

  .frame{
    width: auto;
    height: auto;
    display: flex;
    margin: 0;
    text-align: center;
    
  }


  .one{
    background-color: lightsalmon;
    width: 100vw;
    height: 100vh;
  }

  .one img{
    max-width: 90vw;
    max-height: 90vh;
    z-index: -1;
    overflow: hidden;
    margin: auto;
  }

  .two{
    background-color: #daf9e9;
    width: 100vw;
    height: 100vh;
  }

  .two img{
    z-index: -1;
    overflow: hidden;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
  }

  .three{
    background-color: #aadfb6;
    width: 100vw;
    height: 100vh;
  }

  .three img{
    z-index: -1;
    overflow: hidden;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
  }

  .four{
    background-color: #e4a88f;
    width: 100vw;
    height: 100vh;
  }

  .four img{

    z-index: -1;
    overflow: hidden;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
  }

  .five{
    background-color: #4c625d;
    width: 100vw;
    height: 100vh;
  }

  .five img{

    z-index: -1;
    overflow: hidden;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
  }

  .six{
    background-color: #598d91;
    width: 100vw;
    height: 100vh;
  }

  .six img{

    z-index: -1;
    overflow: hidden;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
  }

  .seven{
    background-color: #ec6e7a;
    width: 100vw;
    height: 100vh;
  }

  .seven img{

    z-index: -1;
    overflow: hidden;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
  }

  .eight{
    background-color: #5c5e70;
    width: 100vw;
    height: 100vh;
  }

  .eight img{

    z-index: -1;
    overflow: hidden;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
  }

  .nine{
    background-color: #171717;
    width: 100vw;
    height: 100vh;
  }

  .nine img{

    z-index: -1;
    overflow: hidden;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
  }

  .ten{
    background-color: #251216;
    width: 100vw;
    height: 100vh;
  }

  .ten img{

    z-index: -1;
    overflow: hidden;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
  }

  .eleven{
    background-color: #251216;
    width: 100vw;
    height: 100vh;
  }

  .eleven img{

    z-index: -1;
    overflow: hidden;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
  }

.header{
  position:absolute;
  z-index: 1;
  top: 1vh;
  left: 1vw;
}

.footer{
  position:absolute;
  z-index: 1;
  bottom: 1vh;
  left: 0.1%;
}

.sticky{
  position: fixed;
  top: 1%;
  left: 0.1%;
}

.stickyFooter{
  position: fixed;
  bottom: 1vh;
  left: 0.1%;
}


